<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">A propos</ion-title>
    </ion-toolbar>
  </ion-header>
  <br><br><br><br>
  <p style="text-align:center;">
    <img src="../../assets/tim.jpg" alt="logo de la partie">
    <br><br>
    Application spécialement créer pour la suivie des votes
  </p>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
